@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    height: 100vh;
    min-height: 100vh;
}

.scroll-bar::-webkit-scrollbar {
    display: block;
    width: 8px;
}

.scroll-bar::-webkit-scrollbar-track {
    margin-top: 40px;
    border-radius: 4px;
    background-color: white;
}

.scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #060607;
}
